# Ignoring common OS/Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignoring Node.js and npm/yarn dependencies and logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native/Expo specific ignores
.expo/
web-build/
dist/

# Android specific ignores
android/build/
android/.gradle/
android/local.properties

# iOS specific ignores (common for mobile development, even cross-platform)
ios/build/
.symlinks/
ios/*.xcworkspace
ios/*.xcuserdatad
ios/*.xcscheme

# Flutter specific ignores (even if not used now, good for a general mobile setup)
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
build/
*.iml
local.properties

.env
